*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body{
    background: darkslateblue;
    display: flex;
    flex-direction: column;
}

.container{
    width: 20%;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
}

.calc{
    display: grid;
    grid-template-rows: 12rem 5fr;
    grid-gap: 1rem;
}

.grid-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: auto;
}


.last-row{
    display: grid;
    grid-template-columns: 2fr repeat(2,1fr);
    width: auto;
}

.calc-btn{
   padding: 1rem 4rem;
   font-weight: 500;
   font-size: 24px;
   background-color: #5a6d8d;
   border: none;
}

.calc-screen{
    word-break: break-all; 
    color: #fff;
    background: rgb(10, 1, 1);
    overflow: hidden;
    height: auto;
    display: flex;
    align-items: flex-end;
    padding: 4px;
    /* word-wrap: break-word; */
}

.screen{
    top:30px;
    display: inline-block;
    font-size: 45px;
    
}

.calc-btn:hover{
    background-color: #304c7a;
}
.calc-btn:active{
    transform: translateY(2px);
}


.log{
    background-color: black;
    min-height: 15.8rem;
    color: white; 
    text-align: center;
}

.log > button {
    margin-top: 1rem;
    font-size:  30px;
    border: none;
    background-color: black;
    padding: 10px 20px;
    color: #fff;
    border-radius: 100px;
}

.log > button:hover{
    background-color: #121213;
}
.log > button:active{
    transform: translateY(1px);
}

.log-screen{
    background-color: #6683af;
    min-height: 8rem;
    margin: 1.5rem 1rem;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 0.3rem 0.2rem;
}